{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
{{ `<!-- partials/scripts.bottom.html -->` | safeHTML }}
{{- end}}

{{- $assetBusting := not .Site.Params.disableJSAssetsBusting }}

<script src='{{ `/js/custom.bottom.js`                     | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}'></script>
{{- range .Site.Params.custom_js_bottom }}
<script src='{{ .                                          | absURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}'></script>
{{- end }}
