<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}' class="{{ default `w3-theme-l5` ($.Site.Param `colorHtml`)}}">
  {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- index.html  -->` | safeHTML }}
  {{- end}}
  {{ partial `head.html` . }}

  <body>
    <div id="all" class="theme-layouts-index w3-theme">
      <header>
      </header>
      {{ partial `front.photocards.html` . }}
      {{ partial `footer.bottom.html`    . }}
      {{ partial `scripts.bottom.html`   . }}
    </div>
  </body>
  {{- partial `debug.html` . -}}
</html>
